<h3 class="twap-header">Administration Panel</h3>
<div class="left w200 panel border p3">
	<h1>Menu</h1>
	<h2>News Management</h2>
	<a href="?act=admin&amp;f=addcat">Create Category</a>
	<a href="#">Manage Categories</a>
	<a href="?act=admin&amp;f=AddNews">New Article</a>
	<a href="#">Manage Articles</a>
	<h2>Other</h2>
	<a href="?act=admin&amp;f=AdminDrop&amp;n=1">Kill Session</a>
</div>
<div>
	<div class="border p3" style="margin-left: 210px;">
	<h1>{sec_title}</h1>
	{contents}
	</div>
</div>
<div class="clear"></div>
