<table width="100%" cellspacing="4" cellpading=2>
	<tr valign="top">
		<td width="120" style="background-color: {background};">
			<div>
				{name}
			</div>
		</td>
		<td id="border">
			<div class="shade_bar">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td>Posted on {date}</td>
					<td style="text-align: right;"><a href="Javascript:insert('{insert}');"><img src="templates/images/button_quote.gif" alt="Edit"></a></td>
				</tr>
			</table>
			</div>
			<div style="padding: 3px;">
				{post}
			</div>
		</td>
    </tr>
</table>