<div class="border_padded" style="margin-bottom: 3px;">
	<div id="forum_navigation">		<div class="right">			<a href="#">Members</a>			<!--<a href="#">Arcade</a>-->			<a href="#">Search</a>			<a href="#">Help</a>		</div>		<div style="padding: 3px;">Leafo.net Forums</div>	</div>											
	<div class="shade" style="padding: 3px; clear: both;">			<div class="right"><!-- Something could go here --></div>		<div><a href="?act=forum">Forum Index</a>{location}</div>	</div></div>
{content}<div class="right" style="width: 300px">{login}</div><div style="margin-right: 303px;">{stats}</div>