<tr>
		<td>
			<div><a href="?act=forum&amp;f=Posts&amp;p={id}&amp;pg=last" id="title_link">{title}</a> on {date}</div>
			<div class="right">{pages}</div>
			<div><i>{description}</i></div>
		</td>
		<td width="100">
			<div><a href="?act=user&amp;f=profile&amp;i={authorid}">{author}</a></div>
		</td>
		<td width="50">
			<div>{replies}</div>
		</td>
		</td>
		<td width="50">
			<div>{views}</div>
		</td>
		<td width="150">
			<div>{lastp_date}<br>by <a href="?act=user&amp;f=profile&amp;i={lastp}">{lastp_name}</a></div>
		</td>
</tr>