<div id="border" style="padding: 1px; margin-bottom: 3px;">
	<div class="shade_bar" style="; padding: 5px; border-top: 5px solid #AAA;">
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td style="text-align: left;"><b>{title}</b>, <i>{description}</i> Posted by {author} on {date}</td>
			<td style="text-align: right;">Pages: {pages}&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="?act=forum&f=NewReply&p={p}"><img src="templates/images/button_reply.gif" alt="reply"></a>
			</td>
		</tr>
	</table>
	</div>
	{content}
	<div class="shade_bar" style="text-align: right; padding: 5px"><a name="last"><a href="?act=forum&f=NewReply&p={p}"><img src="templates/images/button_reply.gif" alt="reply"></a></div>
</div>