<div class="border_padded">
<form action="?act=user&f=DoLogin" method="POST" name="log">
	
	<h1>Log into your account</h1>
	<center>
		<h2><input id="username" type="text" name="user" size="14" class="input"/>
		<input id="password" type="password" name="pass" size="14" class="input"/></h2>
		
		<input type="submit" name="submit" value="Submit" class="m3"/>
		<input type="reset" name="reset" value="Reset" class="m3"/>
		
		<h2 style="font-size: .9em;"><a href="?act=user&f=Register">Click <b>here</b> to register an account</a></h2>
	</center>
	
</form>
</div>