<form action="?act=user&f=DoLogin" method="POST" name="log" onsubmit="return check()">
	<h1>Log into your account.</h1>
	<div class="shade2 p3">Username</div>
	<div><input type="text" name="user" class="input m3-top m3-bottom"/></div>
	<div class="shade2 p3">Password</div>
	<div><input type="password" name="pass" class="input m3-top"/></div>
	<div class="border m3-top p3 center">
		<input type="submit" name="submit" value="Submit"/>
		<input type="reset" name="reset" value="Reset"/>
		<div class="shade_bar" style="font-size: .9em;"><a href="?act=user&f=Register">Click <b>here</b> to register an account<a></div>
	</div>
</form>