
<h2 class="news-subheader margin-top">Post a comment</h2>
<form method="POST" action="?act=news&amp;f=SubmitComment&amp;p={id}">
<div class="left text-right w75 p3-right bold p2">name</div>
<div class="border-bottom m3-bottom p2">{user.name}</div>
<div class="left text-right w75 p5-right bold">message</div>
<textarea name="post" class="w300 h100 left" maxlength="10"></textarea>
<div class="clear"></div>
<div class="left text-right w75 p5-right bold">&nbsp;</div>
<div><input value="Submit" type="Submit"/></div>
</form>