
<div style="margin-bottom: 5px; min-height: 140px;">
<h3>{title}</h3>
<div class="news-subheader news-pageimage"">{date} by <a href="?act=user&amp;f=profile&amp;i={author_id}">{author}</a></div>
<img src="{img_dir_}categories/{iname}" style="float: left; margin: 3px; border: 1px solid #2F2F2F; display: {display};" alt="Ahem!"/>
<div class="para" style="padding-left: 3px;">{text}</div>
</div>
<div style="margin-bottom: 10px; text-align: right;">
	<span class="news-icon news-comments"><a href="?act=homeview&amp;f=view&amp;p={id}">Comments({comments})</a></span>
	<span class="news-icon news-category"><a href="#">{name}</a></span>
</div>