
<div class="w300 border_padded" style="margin-bottom: 15px;">
	<div class="left m1-top"><img src="resource/rpg/items/letter.gif"></div>
	<div class="invheader">Character</div>
	<div><span class="elegant">Job:</span> <span class="crisp blugreen">{jname}</span><br />
	<span class="elegant">Strength:</span> <span class="crisp blugreen">{str}</span> &#183; 
	<span class="elegant">Vitality:</span> <span class="crisp blugreen">{vit}</span><br />
	<span class="elegant">Dexterity:</span> <span class="crisp blugreen">{dex}</span> &#183; 
	<span class="elegant">Agility:</span> <span class="crisp blugreen">{agi}</span><br />
	<span class="elegant">Inteligence:</span> <span class="crisp blugreen">{inte}</span> &#183; 
	<span class="elegant">Spirit:</span> <span class="crisp blugreen">{spr}</span><br /><br />
	
	
	<div><span class="elegant">Damage:</span><br /><span class="crisp blugreen">{min_damage} - {max_damage}</span></div>
	<div><span class="elegant">Defence:</span><br /><span class="crisp blugreen">{defence}</span></div>
	
	<div class="elegant">
	Health
	<div class="border_padded healthbar" style="background-position: {bg_health}% 100%">{hp} <b>/</b> {mhp} ({health_percent}%)</div>
	Mana
	<div class="border_padded manabar" style="background-position: {bg_mana}% 100%">{mp} <b>/</b> {mmp} ({mana_percent}%)</div>
	Experience
	<div class="border_padded expbar" style="background-position: {bg_exp}% 100%">{exp} <b>/</b> {mexp} ({exp_percent}%)</div>
	</div>
	
	</div>
</div>
