<form method="POST" action="?act=user&amp;f=DoSendMessage">


<div>

<h2 class="p3 elegant m3-top" style="line-height: 150%;">Compose new message<br />

To: <input name="recipient" type="text" class="input" value="{prename}" /> <span class="crisp blugreen">*Username</span> <br />
From: <span class="crisp blugreen">{user.name}</span><br />

<div class="right">Subject: <input name="subject" type="text" class="input w200" /></div>

<div>Date: <span class="blugreen">{date}</span><br /></div>


</h2></div>
<center>
<textarea name="message" class="input m3-top" style="width: 555px; height: 400px;"></textarea>
</cetner>
<h2 class="p3 elegant m3-top" style="line-height: 150%;"><input type="submit" /></h2>
</form>