<h3 class="twap-header">{name}'s profile</h3>

<div class="w400 right">
	<div class="border p3"><h1 class="m2-bottom">User statistics</h1>
		<div class="left w100">Total Posts:</div>
			<div>{postcount} <b>(</b>{average} posts per day<b>)</b></div>
		<div class="left w100">Join Date:</div>
			<div>{joindate} <b>(</b>{days} days ago<b>)</b></div>
	</div>
</div>

<div style="margin-right: 403px;">
	<div class="border p3"><h1 class="m2-bottom">Profile information</h1>
		<div class="left w100">User Title:</div>
			<div><i>{title}</i></div>
		<div class="left w100">Location:</div>
			<div>{prof_location}</div>
		<div class="left w100">Website:</div>
			<div><a href="{prof_website}" target="_blank">{prof_website}</a></div>
		<div class="left w100">Gender:</div>
			<div>{sex}</div>
	</div>
	
	<div class="border p3 m3-top"><h1 class="m2-bottom">RPG Character</h1>
	</div>
</div>

<div clear="both"></div>
<div class="border p3 m3-top"><h1 class="m2-bottom">Signature</h1>{signature}</div>