<form method="POST" action="?act=user&amp;f=EditMessages">


<div class="elegant p5 m3-top" style="background-color: #EEE;">
<div class="right">Viewing Messages: {plow} to {phigh} ({totalm} total)</div>
<div>Page {pnum} of {pmax}</div>
</div>
<div class="border m3-top">
<div class="m1 p1" style="background-color: #ECF5E1;">
<div><b>
<table>
<tr>
<td style="width: 100px;">From</td>
<td style="width: 100px;">Date</td>
<td>Subject</a></td>
</tr>
</table>
</b></div>
</div>
<table>
{content}
</table>
<div>

</form>