<h3 class="twap-header">User Control Panel</h3>
<div class="left w200 panel border p3">
	<h1>Menu</h1>
	<h2>Message Center</h2>
	<a href="?act=user&amp;f=PMessages">Inbox</a>
	<a href="?act=user&amp;f=SendPM">Compose</a>
	<a href="?act=user&amp;f=PurgeMessages">Purge Messages</a>
	<h2>Profile Information</h2>
	<a href="?act=user&amp;f=PanelProfile">Edit Profile</a>
	<a href="?act=user&amp;f=PanelAvatar">Edit Avatar</a>
	<a href="?act=user&amp;f=PanelSignature">Edit Signature</a>
	<h2>Preferences</h2>
	<a href="#">Board Options</a>
	<a href="#">Template Options</a>
</div>
<div>
	<div class="border p3" style="margin-left: 210px;">
	<h1>{sec_title}</h1>
	{contents}
	</div>
</div>
<div class="clear"></div>
