
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>

		<title>leafo.net - {subtitle}</title>
		<meta name="AUTHOR" content="leaf@leafo.net" />
		<link rel="stylesheet" type="text/css" href="templates/style.css" />
		<script type="text/javascript" src="templates/global_script.js"></script>

		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-136625-1");
				pageTracker._trackPageview();
			} catch(err) {}</script>

	</head>
	<body>

		<center><div id="content">
				<div id="topnav"><a href="?act=homeview">Home</a><a href="?act=forum">Forums</a><a href="?act=rpg">RPG</a><a href="#">Archives</a></div>
				<img src="templates/images/layout_2_01_02.jpg" alt="Leafo.net" />
				<div id="cell">

					{contents}

					<div class="clear">&nbsp;</div>	
					<div class="border-top" style="font-size: 0.8em; text-align: center; padding-top: 1px;">leafo.net best viewed in queen latifa, 1024x768 or higher.
						Copyright &#169; 2005 leafo.net, all rights reserved.<br />{admin}<a href="#" target="_top">Up</a>&nbsp;&#183;&nbsp;<a href="?">Home</a></div>

					<br/><!--{debug}--></div>
		</div></center>

		<!-- This HTML document has been dynamicly generated via Avail engine by l.corcoran; powered by PHP and mySQL -->
	</body>
</html>